In [1]:
import pandas as pd

In [25]:
bert_mask_result = pd.read_csv('results/BERT_mask_result.csv')
co_hashtag_mask_result = pd.read_csv('data/mask_co_hashtag_t2_cluster.csv')
pure_hashtag_vaccine_result = pd.read_csv('results/pure_hashtag_feature.csv')
pure_mention_vaccine_result = pd.read_csv('results/pure_mention_feature.csv')

In [6]:
bert_mask_result, co_hashtag_mask_result

(                 node  cluster          x          y
 0          0CoolKate0        1  -4.007771  -8.615798
 1               0Dang        1  -4.935520  -8.778807
 2        00GrlGamer00        1  -4.586827  -8.633324
 3              0Kellz        5  15.753176   0.849553
 4            0Khakee2        0   5.589919   2.431041
 ...               ...      ...        ...        ...
 113957  zzwarrior9624        0  -4.288891   1.737103
 113958     zzwhatzupp        0   5.405163   2.433516
 113959         zzxyxy        2  13.413119 -13.027265
 113960       zzzaZZZu        3  -7.874003   7.760045
 113961      zzzskeppy        1  -5.748460  -8.007394

 [113962 rows x 4 columns],
                  node  cluster
 0            sdinny14        0
 1     erinstreeterNAM        0
 2           vinylcook        0
 3           ShirtStru        0
 4           brose2288        1
 ...               ...      ...
 3420       arenaqueen        0
 3421  TheLindaRobbins        0
 3422    silalesanchez        0
 3423      BarbieSnow6        0
 3424      TheInkTruth        0

 [3425 rows x 2 columns])

In [8]:
bert_mask_result.nunique()

node       113962
cluster         6
x          113374
y          113378
dtype: int64

In [40]:
df = bert_mask_result.join(co_hashtag_mask_result.set_index('node'), on='node', lsuffix='_bert', rsuffix='_co_ht') \
                     .join(pure_hashtag_vaccine_result.set_index('node'), on='node', rsuffix='_pure_ht') \
                     .join(pure_mention_vaccine_result.set_index('node'), on='node', rsuffix='_pure_mention')
df.rename({'cluster': 'cluster_pure_ht'}, inplace =True, axis = 'columns')

In [41]:
df

,node,cluster_bert,x,y,cluster_co_ht,cluster_pure_ht,x_pure_ht,y_pure_ht,cluster_pure_mention,x_pure_mention,y_pure_mention
0,0CoolKate0,1,-4.007771,-8.615798,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0Dang,1,-4.935520,-8.778807,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00GrlGamer00,1,-4.586827,-8.633324,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0Kellz,5,15.753176,0.849553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0Khakee2,0,5.589919,2.431041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
113957,zzwarrior9624,0,-4.288891,1.737103,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113958,zzwhatzupp,0,5.405163,2.433516,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113959,zzxyxy,2,13.413119,-13.027265,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113960,zzzaZZZu,3,-7.874003,7.760045,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113961,zzzskeppy,1,-5.748460,-8.007394,NaN,NaN,NaN,NaN,0.0,3.911378,4.188682

In [33]:
df.dropna(subset=['cluster'])

,node,cluster_bert,x,y,cluster_co_ht,cluster,x_pure_ht,y_pure_ht,cluster_pure_mention,x_pure_mention,y_pure_mention
177,1loriking,2,12.211614,-14.746215,NaN,2.0,-34.697285,56.056190,NaN,NaN,NaN
194,1point15,0,1.679628,2.688395,0.0,2.0,-35.196060,56.403250,0.0,10.541205,2.945501
333,3Emedico,0,2.130909,3.135673,NaN,1.0,-6.591621,28.712133,NaN,NaN,NaN
361,3fatcats,0,1.317067,-1.157125,NaN,1.0,3.312843,18.991138,NaN,NaN,NaN
432,4Tchat,0,1.681846,2.854248,0.0,2.0,-36.188430,56.873253,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
112753,x_jupiterhart,0,1.454329,2.659796,0.0,2.0,-35.697628,57.127150,NaN,NaN,NaN
113311,yogoldsmith,4,9.195875,18.130156,NaN,0.0,4.680481,-23.962885,3.0,19.383411,4.847364
113649,zainliaquat125,0,2.026792,1.980519,NaN,1.0,3.475061,19.539839,NaN,NaN,NaN
113750,zephyr9673,0,0.685105,2.936842,0.0,1.0,-6.878275,28.493670,NaN,NaN,NaN
113862,zogarreal,0,-1.914235,2.699461,0.0,1.0,-8.433498,19.008606,5.0,9.253588,13.782414

In [29]:
df.reset_index(drop=True, inplace=True)

In [30]:
df

,node,cluster_bert,x,y,cluster_co_ht,cluster,x_pure_ht,y_pure_ht,cluster_pure_mention,x_pure_mention,y_pure_mention
0,1point15,0,1.679628,2.688395,0.0,2.0,-35.196060,56.403250,0.0,10.541205,2.945501
1,6bottoms,3,-15.656252,9.091455,1.0,0.0,6.303479,-22.365068,0.0,1.539082,3.303240
2,AliAdair22,0,3.518165,-0.150064,0.0,0.0,6.300999,-22.366734,0.0,4.070281,3.462866
3,AlwaysYellow4,1,-12.358187,-18.965252,0.0,1.0,-8.467971,18.974117,5.0,9.251595,13.784362
4,AndreaAndreamax,0,4.924740,-1.680534,1.0,0.0,1.350091,-18.390558,0.0,1.821400,5.000598
...,...,...,...,...,...,...,...,...,...,...,...
89,td21241,5,17.317883,6.991930,0.0,1.0,3.462775,19.712688,3.0,24.187447,4.025292
90,teesbakers,0,-1.906677,2.698339,0.0,1.0,-8.415947,19.026089,5.0,9.253348,13.782856
91,tothelostmonth,0,3.328416,2.280626,0.0,0.0,-10.110718,-7.110501,2.0,-9.153315,-5.308731
92,viralvideovlogs,0,2.937543,2.021631,0.0,1.0,-8.179820,28.094648,4.0,13.246377,-10.357250
93,zogarreal,0,-1.914235,2.699461,0.0,1.0,-8.433498,19.008606,5.0,9.253588,13.782414

# Rand index (pairwise comparison)

In [22]:
from sklearn import metrics
labels_true = df['cluster_bert']
labels_pred = df['cluster_co_ht']
metrics.rand_score(labels_true, labels_pred)

0.5748766969097483

In [45]:
# importing required library
import itertools


# creating a list of elements belonging

# 3 to integers and strings
lst = [1,"Mallika",2,"Yash"]

# simulating permutations of the list in
# a group of 2
pair_order_list = itertools.combinations(lst,2)

# printing the elements belonging to permutations
print (list(pair_order_list))

[(1, 'Mallika'), (1, 2), (1, 'Yash'), ('Mallika', 2), ('Mallika', 'Yash'), (2, 'Yash')]